---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.'
import '../styles/global.styl';
import { SITE_TITLE } from '../config';

export interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description, image } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1">
<link rel="manifest" href="/site.webmanifest?v=1">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#256539">
<link rel="shortcut icon" href="/favicon.ico?v=1">
<meta name="msapplication-TileColor" content="#256539">
<meta name="theme-color" content="#ffffff">

<!-- RSS -->
<link rel="alternate" href="https://vegetalope.com/rss.xml" type="application/rss+xml" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title} | { SITE_TITLE } </title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:site" content="@vegetalope" />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Secondary Meta Tags -->
<meta name="pocket-site-verification" content="7d224a8d64116b08c6daec8fc08a43" />
<meta name="msvalidate.01" content="C26C7601A7BC06EDD0773BD8B09723CF" />

<!-- Firefox FOUC fix -->
<script>
	let FF_FOUC_FIX
</script>
