---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				<h1 class="title">{title}</h1>
				<slot />
				<br>
				{pubDate && <div>
					<h3>Written</h3> 
					<time datetime={pubDate}>
						{new Date(pubDate).toLocaleDateString('en-gb', {
							year: 'numeric',
							month: 'long',
							day: 'numeric',
						})}
					</time>
				</div>}
				{updatedDate && (
					<div>
						<h3>Last updated</h3>
						<time datetime={updatedDate}>{new Date(updatedDate).toLocaleDateString('en-gb', {
							year: 'numeric',
							month: 'long',
							day: 'numeric',
						})}</time>
					</div>
				)}
			</article>
		</main>
		<Footer />
	</body>
</html>
